@use "vars-colors" as *;
@use "capitalize" as *;

header {
    background-color: ($clr-gray400);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* To allow positioning of children */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-left {
    padding: 5px 0 10px 0;
    margin: 0 35% 0 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & img {
        width: 48px;
        height: 48px;
    }    
}

.banner-block {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;

    & > * {
        color: ($clr-black);
        font-family: 'DM Serif Display', serif;
        font-size: 2.5rem;
        text-shadow: 2.5px 3px $clr-black, 2.5px 2.5px $clr-black, 2.5px 2px $clr-black, 2.5px 1.5px $clr-black, 2.5px 1px $clr-black, 2.5px 0.5px $clr-black;
    }

    & .banner-text {
        color: ($clr-gray100);
        transform: scaleX(170%);
    }
}

@media (max-width: 1500px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media (max-width: 1000px) {
    .header-left {
        margin:0 20% 0 0;
    }
}

@media (max-width: 768px) {
    .header-left {
        margin:0 20% 0 0;
    }
}

@media (max-width: 500px) {
    .header-left {
        margin:0 20% 0 0;
    }
}