@use "vars-colors" as *;
@use "capitalize" as *;

@use "hamburger";
@use "header";
@use "footer";
@use "svg-group";
@use "trending";
@use "weather";

body {
    background-color: ($clr-gray200);
    font-family: 'DM Sans', sans-serif;
    color: ($clr-black);
    font-size: clamp(0.4rem, 0.4000rem + 0.5000vw, 1rem);
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}

a[href="#"]{
    text-decoration: none;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
}

h2::before {
    margin-right: .4rem;
    position: relative;
    top: .2rem;
}

h3 {
    font-size: 1rem;
    padding-top: .6rem;
}

h2,
h3,
ul {
    margin: 0;
    background-color: ($clr-gray100);
}

ul {
    list-style-type: none;
}


p {
    padding-top: .4rem;
}

.hover-picture a > *:not(h2) {
    opacity: 1.0;
}

.hover-picture a:hover > *:not(h2) {
    opacity: 0.05;
}

a[href^="./news"] h2::before {
    content: url(../icons/iconmonstr-newspaper-13.svg);
}

a[href^="./weather"] h2::before {
    content: url(../icons/iconmonstr-weather-18.svg);
}

a[href^="./sports"] h2::before {
    content: url(../icons/iconmonstr-basketball-2.svg);
}

a[href^="./events"] h2::before {
    content: url(../icons/iconmonstr-party-4.svg);
}

a[href^="./financial"] h2::before {
    content: url(../icons/iconmonstr-banknote-15.svg);
}



/**********************************************************
 * Core grid styles
 *
**/

.main-grid {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 1.5rem;
    justify-content: center;
}

.main-grid .grid-2x1 {
    grid-column-end: span 2;
}

.main-grid .grid-1x2 {
    grid-row-end: span 2;
}

.main-grid a {
    padding: 1rem;
    font-weight: bold;
}

.main-grid>* {
    margin: 0 5px 5px 5px;
}

.grid-cell {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: .4rem;
    border-radius: ($radius);
    width: 100%;

    & > a {
        padding: 1rem;
    }

    & h2,
    & h3 {
        @include capitalize;
    }

    & h3 {
        padding: 5px 0 5px 1rem;
    }

    & p {
        padding: 1rem;
        margin: 0;
        background-color: ($clr-gray100);
    }

    & ul {
        padding-bottom: 1rem;
    }
    
    & li {
        padding: 10px 0;
    }
    
    & :first-child {
        border-radius: ($radius) ($radius) 0 0;
        padding: 10px 0;
    }
    
    & a:hover :first-child {
        border-radius: ($radius);
    }
    
    & :last-child {
        border-radius: 0 0 ($radius) ($radius);
    }
    
}


/**********************************************************
 * Grid cell styles
 *
**/

.grid-item {
	overflow: hidden;
	border: 1px solid ($clr-gray200);
    background-color: ($background-color);
	box-shadow: 4px 4px ($clr-gray400);
    margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: border 200ms ease-in, box-shadow 200ms ease-in;
	&:hover {
		border: 1px solid ($clr-primary);
		box-shadow: 8px 8px ($clr-primary-hover);
	}
}

.grid-item form {
    padding: 1.5rem;
}

.grid-item:last-of-type {
    grid-column: 4/5;
    grid-row: 4/5;
}

.extra-content {
    display: none;
}

img ~ * {
    background-color: ($background-color);
}

.card-image {
	height: 12rem;
	width: 100%;
	object-fit: cover;
}

.card-title {
	padding: 1rem;
	text-align: center;
}

.card-description {
	padding: 0 1rem;
}

.card {
    padding-right: 1rem;
    grid-column: 5/6;
    grid-row: 4/5;
    font-size: clamp(0.6rem, 0.4400rem + 0.8000vw, 1.4rem);
    margin-top: 10px;
}

.card ul {
    padding: 1rem;
}

.card a {
    @extend %a-arrow;
	color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0.5rem 1rem;
}

.card-link {
    @extend %a-arrow;
}

.arts {
	text-align: center;
}

#vancouver-housing-prices-soar {
    background-image: url(../images/overhead-shot-of-vancouver-houses-600x300.jpeg);
}

#canada-day-celebrations {
    background-image: url(../images/canada-day-celebrations-600x300.jpeg);
}

#football-gaffe {
    background-image: url(../images/football-gaffe-300x600.jpeg);
}

#student-stress-rising {
    background-image: url(../images/stressed-out-student-300x600.jpeg);
}

#obamas-back {
    background-image: url(../images/obama-speaking-300x300.jpeg);
}

#vancouvers-rainy-weather {
    background-image: url(../images/vancouver-rain-300x300.jpeg);
}

/**********************************************************
 Media Queries
/********************************
*/

@media (max-width: 1500px) {
    main {
        margin-top: 100px;
    }
    .main-grid {
        grid-template-columns: repeat(5, 230px);
        grid-template-rows: 500px 450px 420px 360px;
        gap: 20px 30px;
    }
    .grid-2x1:first-of-type {
        grid-column: 2;
    }
    .grid-2x1:last-of-type {
        grid-column: 2;
        grid-row: 2;
    }
    .main-grid .grid-2x1 {
        grid-column-end: span 2;
    }
    .main-grid .grid-1x2 {
        grid-row-end: span 2;
    }
    .grid-item {
        grid-column-end: span 1;
        grid-row-end: span 1;
        width: 230px;
    }
    .grid-item h2 {
        font-size: 0.9rem;
    }
    .extra-content {
        display: grid;
    }
    .grid-item:last-of-type {
        display: block;
    }

    .card {
        padding-right: 0;
    }
   
    textarea {
        width: 100%;
        margin-top: 7px;
    }
}

@media (max-width: 1300px) {
    .main-grid {
        grid-template-columns: repeat(3, 220px);
        grid-template-rows: 450px 450px 1fr;
        gap: 20px 20px;
    }
    .grid-2x1:first-of-type {
        grid-column: 2/3;
    }
    .extra-content {
        display: none;
    }
    .main-grid .grid-2x1 {
        grid-column-end: span 2;
    }
    .main-grid .grid-1x2 {
        grid-row-end: span 1;
    }
    .grid-item {
        width: 230px;
    }
    .grid-item:first-of-type {
        grid-row: 2;
    }
    .grid-item:last-of-type {
        grid-column: 3/4;
        grid-row: 3;
    }
    .card {
        grid-column: 4/5;
        grid-row: 3;
    }
}

@media (max-width: 1000px) {
	.main-grid {
        grid-template-rows: 520px 400px 1fr;
        gap: 20px;
    }
    .main-grid .grid-2x1 {
        grid-column-end: span 2;
    }
    .grid-cell h2,
    .grid-cell h3 {
        font-size: 1rem;
    }
    .grid-item:last-of-type {
        grid-column: 2/3;
        grid-row: 4;
    }
    .card {
        grid-column: 3/4;
        grid-row: 4;
    }
    .grid-item {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .main-grid {
        grid-template-columns: 30% 210px 210px;
        grid-template-rows: 450px 400px 330px 330px;
        gap: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .grid-item:last-of-type {
        grid-column: 2/3;
    }
    .card {
        grid-column: 3/4;
    }
    .grid-item:first-of-type {
        grid-column: 1/2;
    }
    .main-grid .grid-2x1 {
        grid-column: 2/4;
    }
    .grid-item {
        width: 200px;
        font-size: 0.75rem;
    }
    .grid-item h2 {
        font-size: 0.75rem;
    }
}

@media (max-width: 500px) {
    .main-grid {
        grid-template-columns: clamp(130px, 43.3333px + 30vw, 210px) clamp(130px, 43.3333px + 30vw, 210px);
        grid-template-rows: 400px 400px 360px 350px 350px;
    }
    .grid-item:last-of-type {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .grid-item {
        width: 190px;
    }
    .card {
        grid-column: 2/3;
        grid-row: 7/8;
    }
    .grid-item:first-of-type {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .main-grid .grid-2x1 {
        grid-column: 1/3;
    }
    #student-stress-rising {
        position: relative;
        z-index: 50;
    }
}


@media (max-width: 420px) {
    .main-grid {
        margin: auto 10px auto 10px;
    }
    .grid-item:first-of-type {
        grid-column: 1/3;
        grid-row: 7/8;
    }
    .grid-item {
        grid-column-end: span 2;
        width: 250px;
        justify-self: center;
    }
    .card {
        grid-column: 1/3;
        grid-row: 10/11;
        justify-self: center;
    }
    .grid-item:last-of-type {
        grid-column: 1/3;
        grid-row: 9/10;
        justify-self: center;
    }
}